@font-face {
  font-family: "Fraunces";
  src: url("/fonts/fraunces-variable.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/work-sans-variable.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&family=Playfair+Display:wght@600&display=swap");

:root {
  --font-fraunces: "Fraunces", serif;
  --font-work-sans: "Work Sans", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
  --font-playfair-display: "Playfair Display", serif;
}
