@font-face {
  font-family: 'Fraunces';
  src: url('/fonts/fraunces-variable.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/work-sans-variable.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
}
