@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/dm-sans-variable.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 100 1000;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/playfair-display-variable.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400 900;
}
